html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #2F4F4F 0%, black 80%);
}
.app-wrapper{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper{
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

