.header{
    background-color: #012169;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 10vh;
    min-height: 100px;
}
.header-message{
    font-size: 34px;
    color: red;
}