.visualizer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50vh;
    margin-inline: 50px;
    margin: 0;
    padding: 0;
}

.array-bar{
    width:3px;
    background-color: white;
    margin: 0 2px;
    padding: 0;
}